.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  width: 80%;
  max-width: 1000px;
  margin: 89px auto 148px auto;
}
.expanded-card {
  background: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px #fff;
  height: 626px;
}
.side-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.side-card {
  box-shadow: 0 5px #fff;
  width: 258px;
  background: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.expanded-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}
.hidden-content {
  display: none;
}
.expanded-card .hidden-content {
  display: block;
}
