.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  width: 80%;
  max-width: 1000px;
  margin: 89px auto 148px auto;
}
.expanded-card {
  background: #4caf50;
  color: white;
  border-radius: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-shadow: 0 5px #fff;
  height: 626px;
}
.card__title {
  font-size: 22px;
  font-weight: 600;
  padding: 23px 32px 0 32px;
  margin: 0;
}
.card__description {
  padding: 32px 32px 0 32px;
  margin: 0 0 32px 0;
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  height: 260px;
  overflow: hidden;
  text-overflow: ellipsis [...];
}
.side-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.side-card {
  box-shadow: 0 5px #fff;
  width: 258px;
  background: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card__img {
  max-width: 100%;
  border-radius: 25px 25px 0 0;

  top: 0;
}
.hidden-content {
  display: none;
}
.expanded-card .hidden-content {
  display: block;
}
