.challenges {
  padding-bottom: 148px;
}

.challenges__description {
  color: white;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
  max-width: 700px;
  padding-top: 83px;
}

.challenges__title {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 40px;
}

.challenge__list {
  display: flex;
  align-items: center;
  margin-top: 68px;
  text-align: left;
  flex-direction: column;
  list-style-type: none;
  gap: 14px;
}

.challenge__checkbox {
  display: flex;
  align-items: center;

  padding: 20px 58px;
  margin: 0 0 14px 0;
  width: 880px;
  height: 102px;
  background-color: #fff;
  border-radius: 0 58px;
  box-shadow: 0 5px #000;
}

.challenge__checkbox-input {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 26px;
}

.challenge__checkbox-text__desc {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
