/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  max-width: 1440px;
  max-height: 842px;
}

/* Dark theme for the page */
.challengepage--dark {
  background-image: url(../images/bgimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navbar */
.challengepage__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.challengepage__navbar-banner {
  background-color: rgba(3, 3, 3, 0.5);
}

.challengepage__navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 104px;
}

.challengepage__navbar-logo-img {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

/* Wrapper for links */
.challengepage__navbar-links {
  display: flex;
  gap: 29px;
  align-items: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.challengepage__navbar-link {
  color: #ffffff;
  text-decoration: none;
}

/* Ensures the button alignment */
.challengepage__navbar-btn {
  background-image: url(../images/startchallengebtn.svg);
  padding-right: 104px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border: solid 2px #ffffff;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 56px;
}

/* Section */
.challengepage__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 80vh;
  padding-left: 104px;
}

.challengepage__section-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.challengepage__section-text {
  margin-top: 43px;
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* Button */
.challengepage__section-btn {
  background-image: url(../images/Call-to-action.svg);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 43px;
  width: 328px;
  height: 68px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.challengepage__footer {
  text-align: left;
  padding-left: 104px;
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
