.footer {
  background-color: #555;
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  max-width: 1232px;
  padding: 0;
  margin: 0 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer-container {
  margin: 0 53px;
  height: 520px;
}

.footer__nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 57px;
}

.footer__logo,
.footer__links,
.social-icons {
  display: flex;
  align-items: center;
}

.footer__logo {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  align-items: center;
}

.footer__logo {
  gap: 10px;
}

.footer__links {
  gap: 30px;
}

.footer__links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 20px;
  font-weight: 500;
}

.social-icons {
  gap: 15px;
}

.footer__contact {
  display: flex;
  width: 400px;
  height: 213px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__information-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footer__information-contact a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footer__contact-email {
  padding: 31px 0;
}

.footer__contact-phone {
  padding-bottom: 31px;
}

.footer__subs-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 159px;
  right: 53px;
  width: 100%;
}

.footer__subs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 632px;
  height: 213px;
  background-color: black;
  border-radius: 8px;
}

.footer__email-input {
  width: 359px;
  height: 70px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  border: 1px solid #fff;
}

.footer__email-input::placeholder {
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.footer__subs-btn {
  width: 190px;
  height: 70px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.footer__github-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 53px;
  border-top: 1px solid #777;
  flex-wrap: nowrap;
  bottom: 21px;
  left: 0;
}

.footer__contributors {
  display: flex;
  padding-top: 46px;
  padding-bottom: 21px;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__contributors a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footer__contributor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__copyright {
  width: 199px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
