.header {
  background-image: url(../images/garden-hands.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  color: white;
  font-size: 64px;
  font-family: "Montserrat-Bold";
  margin: 0 auto;
  text-align: center;
  padding: 291px 201px 26px;
  max-width: 1400px;
}

.header__description {
  color: white;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.header__challenge-btn {
  display: block;
  font-size: 20px;
  padding: 22px 95px;
  border-radius: 25px;
  background-color: white;
  border: none;
  margin: 0 auto;
  margin-top: 76px;
  cursor: pointer;
}

.header__footer {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 138px;
  padding-bottom: 29px;
  font-size: 16px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header__title {
    font-size: 48px;
    padding: 200px 20px 20px;
  }

  .header__description {
    font-size: 24px;
    padding: 0 20px;
  }

  .header__challenge-btn {
    font-size: 18px;
    padding: 15px 60px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .header {
    height: 90vh;
  }

  .header__title {
    font-size: 36px;
    padding: 60px 20px 20px;
  }

  .header__description {
    font-size: 24px;
    padding: 0 20px;
  }

  .header__challenge-btn {
    font-size: 16px;
    padding: 25px 100px;
    margin-top: 450px;
  }
  .header__footer {
    padding: 30px 15px 15px;
  }
}
