/* Modal styling */
.modal {
  font-family: "Montserrat", sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: modalFadeIn 0.5s ease-in-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content {
  background: white;
  padding: 35px 53px;
  text-align: center;
  width: 441px;
  border-radius: 5px;
  position: relative;
}

.modal-content__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-content__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal-content__form-label {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.modal-content__form-input {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  margin: 0 0 23px 0;
}

.modal-content__form-label_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.modal-content__form_btn {
  font-size: 16px;
  width: 100%;
  padding: 16px 130px;
  border: none;
  background-color: #4caf50;
  box-shadow: 5px 5px #000;
  color: #fff;
  margin: 37px 0 0 0;
  transition: all 0.3s ease-in-out;
}

.modal-content__form_btn:hover {
  box-shadow: 5px 5px #9f9f9f;
  background-color: #000;
  color: #fff;
}

/* Close Button */
.modal__close-btn {
  position: absolute;
  top: -70px;
  right: -40px;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.modal__close-btn:hover {
  color: #cacaca;
}
