.tips {
  position: relative;
  margin-bottom: 80px;
  padding: 0 104px;
}

.tips__title {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.tips__description {
  color: white;
  margin-top: 13px;
  margin: 13px 0 57px 0;
}

.tips__daily-tip {
  font-family: "Montaga", serif;
  padding: 65px 54px 54px 54px;
  margin: 0 auto;
  border-radius: 30px;
  max-width: 1232px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tips__daily-tip-heading {
  font-weight: 400;
  margin: 0 auto 45px auto;
  font-size: 46px;
  height: 104px;
  text-align: center;
  line-height: 52px;
}

.tips__buttons {
  display: flex;
  gap: 16px;
}

.tips__share-btn {
  font-size: 20px;
  font-family: "Montaga", serif;
  background-color: black;
  padding: 16px 38px;
  color: white;
  border-radius: 11px;
}

.tips__copy-btn {
  font-size: 20px;
  font-family: "Montaga", serif;
  padding: 16px 38px;
  background-color: white;
  border-radius: 11px;
}

.tips__new-tip-btn {
  font-size: 20px;
  font-family: "Montaga", serif;
  margin-top: 24px;
  position: absolute;
  right: 104px;
  padding: 16px 74px;
  background-color: white;
  border-radius: 11px;
  border: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .tips {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

  .tips__title {
    font-size: 32px;
  }

  .tips__description {
    font-size: 20px;
    padding: 20px 20px 40px 0;
    margin: 0;
  }

  .tips__daily-tip {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }

  .tips__daily-tip-heading {
    font-size: 32px;
    height: auto;
    line-height: normal;
  }

  .tips__buttons {
    width: 100%;
  }

  .tips__share-btn {
    font-size: 18px;
    padding: 16px 20px;
    width: 50%;
  }
  .tips__copy-btn {
    width: 50%;
    font-size: 18px;
    padding: 16px 20px;
  }

  .tips__new-tip-btn {
    position: static;
    font-size: 18px;
    padding: 20px 50px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .tips {
    padding: 0 20px;
  }
  .tips__title {
    margin: 100px 0 0 0;
    font-size: 32px;
  }

  .tips__description {
    font-size: 18px;
    padding: 20px 20px 40px 0;
    margin: 0;
  }

  .tips__daily-tip {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }

  .tips__daily-tip-heading {
    font-size: 28px;
    height: auto;
    line-height: normal;
  }

  .tips__new-tip-btn {
    position: static;
    width: 100%;
  }
}
