/* Smooth Fade-in Effect */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Smooth Fade-out Effect */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 105px;
  background-color: white;
}

.nav__logo {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav__links li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__links li:hover {
  text-decoration: underline;
}

.nav__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
  padding: 0;
}

.nav__links a {
  text-decoration: none;
  color: black;
}

.nav__link-challenge-btn {
  padding: 16px 25px;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  box-shadow: 5px 5px #000;
  border: 1px solid black;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__link-challenge-btn:hover {
  box-shadow: 5px 5px #9f9f9f;
  background-color: black;
  color: white;
}

@media (max-width: 1024px) and (min-width: 320px) {
  .nav {
    padding: 18px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav__links {
    gap: 20px;
    font-size: 16px;
  }

  .nav__link-challenge-btn {
    display: none;
  }

  .nav__logo {
    font-size: 20px;
  }
}
