.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 105px;
  background-color: white;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav__links {
display: flex;
flex-direction: row;
list-style-type: none;
justify-content: space-between;
align-items: center;
gap: 39px;
padding: 0;
}

.nav__links a {
text-decoration: none;
color: black;
}

.nav__link-challenge-btn {
  padding: 16px 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 13px;
}