/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.body {
  background-image: url(../images/bgimage.png);
  background-size: cover;
  background-position: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar__banner {
  background-color: #030303;
  opacity: 0.5;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 104px;
}

.navbar__logo-img {
  background-image: url(../images/logo.png);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

/* Wrapper for links */
.navbar__links {
  display: flex;
  gap: 29px; /* Space between links */
  align-items: center;
  color: #ffffff;
  opacity: 1;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.navbar__link {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

/* Ensures the button alignment */
.navbar__btn {
  background-image: url(../images/startchallengebtn.svg);

  padding: 12px 24px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border: solid 2px #ffffff;
  border-radius: 15px;
  display: inline-flex; /* Ensures button content is centered */
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 56px;
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 80vh;
  padding-left: 104px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.section__text {
  margin-top: 43px;

  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* Button */
.section__btn {
  background-image: url(../images/Call-to-action.svg);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 43px;
  width: 328px;
  height: 68px;
  display: inline-flex; /* Ensures button content is centered */
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  text-align: left;
  padding-left: 104px;
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
